*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'proxima-nova', sans-serif, Arial, Helvetica;
    text-decoration: none;
}

body{
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

#toplogo{
    display: flex;
    padding: 20px;
    margin: 20px;
    background-image: url(../images/bghead.jpg);
    background-size:cover;
    border: 2px solid #e96406;
}
#logo{
    width: 90px;
    height: 90px;
    align-items: center;
    font-size: 30px;
    border: 2px solid #e96406;
}
header article h1{
    position:absolute;
    display: inline;
    font-size: 35px;
    font-style: italic;
    font-weight: bolder;
    font-variant: small-caps;
    font-stretch: expanded;
    color: #fff;
    margin-left: 30px;
    margin-top: 25px;
    background: none;
}


footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #0d2f54;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    font-variant: small-caps;
    font-stretch: expanded;
    margin-top: 20px;
 }
.badge{
    display: inline-block;
    background-color: #fff;
    padding: 20px;
    margin :20px;
}


 