*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'proxima-nova', sans-serif, Arial, Helvetica;
    text-decoration: none;
}

body{
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

#toplogo{
    display: flex;
    padding: 20px;
    margin: 20px;
    background-image: url(../images/bghead.jpg);
    background-size:cover;
    border: 2px solid #e96406;
}
#logo{
    width: 90px;
    height: 90px;
    align-items: center;
    font-size: 30px;
    border: 2px solid #e96406;
}
header article h1{
    position:absolute;
    display: inline;
    font-size: 35px;
    font-style: italic;
    font-weight: bolder;
    font-variant: small-caps;
    font-stretch: expanded;
    color: #fff;
    margin-left: 30px;
    margin-top: 25px;
    background: none;
}


footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #0d2f54;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    font-variant: small-caps;
    font-stretch: expanded;
    margin-top: 20px;
}
input[type="submit"] ,[type="reset"]{
    background-color: #0d2f54;
    color: #fff;
    padding: 12px 20px;
    border: 2px solid #e96406;
    display: block;
    margin: 20px auto;
    font-size: 20px;
    font-weight: bolder;
    font-variant: small-caps;
    font-stretch: expanded;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 10px #e96406;
}


form{
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #0d2f54;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    font-variant: small-caps;
    font-stretch: expanded;
    border: 2px solid #e96406;
    border-radius: 10px;
    box-shadow: 0 0 10px #e96406;
    text-align: left;
}
fieldset{
    border: none;
    padding: 5px;
    margin: 10px;

}